@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,500;1,700&display=swap'); /*font-family: 'Roboto', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}

.generalWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 28px;
}
h2{
    font-weight: 400;
    letter-spacing: 0.5px;
}
p{
    font-size: 22px;
    margin-bottom: 12px;
}
.generalWrapper > .contentWrapper{
    width: 1200px;
}
.generalWrapper > .contentWrapper > .bienvenidaTexto{
    margin-bottom: 4em;
}
.generalWrapper > .contentWrapper > .indicacionesTexto{
    margin-bottom: 4em;
}
.generalWrapper > .contentWrapper > .candidatos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 2em;
}

.generalWrapper > .contentWrapper > .candidatos > .infoCandidatoCuadro{
    background-color: #eeeeee;
    width: 220px;
    height: 380px;
    border: 4px solid black;
    border-radius: 30px;
    padding: 1em;
    margin-bottom: 3em;
}
.generalWrapper > .contentWrapper > .candidatos > .infoCandidatoCuadro:hover{
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}
.generalWrapper > .contentWrapper > .candidatos > .infoCandidatoCuadro > .infoCandidatoFoto{
    margin-bottom: 1.5em;
}
.generalWrapper > .contentWrapper > .candidatos > .infoCandidatoCuadro > .infoCandidatoFoto > img{
    border-radius: 20px;
    border: 3px solid black;
}

.generalWrapper > .botonFelicidades > button{
    background-color: rgb(18, 144, 18);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
}
.generalWrapper > .botonFelicidades > button:hover{
    background-color: rgb(13, 118, 13);
    cursor: pointer;
}