*{
    margin: 0;
    padding: 0;
}

/*----------CSS DEL INDEX-MENÚ----------*/
.bodyWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.generalWrapperMenu{
    width: 1200px;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
}
.generalWrapperMenu > .textMenu{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.generalWrapperMenu > .textMenu > h1{
    font-size: 55px;
    margin-bottom: 10px;
}
.generalWrapperMenu > .textMenu > p{
    font-size: 20px;
}
.generalWrapperMenu > .opcionesMenu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.generalWrapperMenu > .opcionesMenu > a > .opciones{
    width: 350px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 15px;
}
.generalWrapperMenu > .opcionesMenu > a > .opciones:hover{
    background-color: rgb(226, 226, 226);
}
.generalWrapperMenu > .opcionesMenu > a > .opciones > img{
    width: 95%;
    height: 250px;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 1em;
}
.generalWrapperMenu > .opcionesMenu > a{
    text-decoration: none;
}
/*
.footerMenu{
    position: fixed;
    bottom: 0;
    right: 0;
}
*/