<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidatos Electorales</title>
    <link rel="stylesheet" href="/votoCSS/candidatos.css">
    <link rel="stylesheet" href="/reutilizableCSS/header.css">
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>
<body>
<div th:include="Reutilizable/header.html" :: header></div>
<section class="generalWrapper">
    <div class="contentWrapper">
        <div class="bienvenidaTexto">
            <h1>¡Bienvenido al sistema de elecciones presidenciales <br> de la Republica de El Salvador! </h1>
        </div>
        <div class="indicacionesTexto">
            <h2>Vota por uno de los siguientes candidatos presidenciales:</h2>
        </div>
        <div class="candidatos">
            <div th:each="candidato : ${candidatos}" class="infoCandidatoCuadro">
                <div class="infoCandidatoFoto">
                    <img th:src="@{/img/{foto}(foto=${candidato.fotoCandidato})}" alt="Foto del candidato" width="200" height="200">
                </div>
                <div class="infoCandidatoTexto">
                    <div>
                        <p th:text="${candidato.getNombresCandidato()}"></p>
                        <p th:text="${candidato.getApellidosCandidato()}"></p>
                        <p th:text="${candidato.getIdPartido().getNombre_partido()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/votoFinalizado}" class="botonFelicidades">
        <button>FELICIDADES BTN</button>
    </a>
</section>

<div th:include="Reutilizable/footer.html :: footer"></div>
</body>
</html>