.headerWrapper{
    display: flex;
    margin-bottom: -2em;
}
.headerWrapper > .decoracionWrapper > img{
    width: 25vh;
}
.headerWrapper > .logoWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15em;
}
.headerWrapper > .logoWrapper > img{
    width: 60vh;
    height: 28vh;
    margin-top: -2em;
}