<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Votante</title>
    <link rel="stylesheet" href="/verificacionCSS/detalleVotante.css">
    <link rel="stylesheet" href="/reutilizableCSS/header.css">
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>

<body>
<div th:include="Reutilizable/header.html" :: header></div>

<section class="generalWrapper">
    <section class="infoWrapper">
        <div class="bienvenidaTexto">
            <h1>¡Bienvenido al sistema de elecciones presidenciales <br> de la Republica de El Salvador! </h1>
        </div>
        <div class="votanteInfo">
            <div class="votanteEstado">
                <h2 th:if="${votante.ha_votado != 0}">El DUI <span th:text="${votante.dui}"></span>  (no) ha votado y (es apto) para hacerlo (✅)</h2>
                <h2 th:if="${votante.ha_votado == 0}">El DUI <span th:text="${votante.dui}"></span>  (ya) ha votado y (no es apto) para hacerlo (❌)</h2>
            </div>
            <div class="duiInfo">
                <div class="leftColumn">
                    <p>Apellidos:</p>
                    <p>Nombres:</p>
                    <p>Sexo:</p>
                    <p>Departamento:</p>
                    <p>Municipio:</p>
                    <p>Distrito:</p>
                    <p>Centro de votación:</p>
                </div>
                <div class="rightColumn">
                    <p><span th:text="${votante.apellidos_votante}"></span></p>
                    <p><span th:text="${votante.nombres_votante}"></span></p>
                    <p><span th:text="${votante.sexo_votante}"></span></p>

                    <p><span th:text="${votante.getId_centro_votacion().getDepartamento()}"></span></p>
                    <p><span th:text="${votante.getId_centro_votacion().getMunicipio()}"></span></p>
                    <p><span th:text="${votante.getId_centro_votacion().getDistrito()}"></span></p>
                    <p><span th:text="${votante.getId_centro_votacion().getNombre_centro_votacion()}"></span></p>


                </div>
            </div>
            <a th:href="@{/urna}">
                <button>REGRESAR</button>
            </a>
        </div>
    </section>
</section>

</section>
<div th:include="Reutilizable/footer.html :: footer"></div>
</body>
</html>