<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Votante</title>
    <link rel="stylesheet" href="/verificacionCSS/detalleVotante.css">
    <link rel="stylesheet" href="/reutilizableCSS/header.css">
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>
<body>
<div th:include="Reutilizable/header.html" :: header></div>
<section class="generalWrapper">
    <div class="contentWrapper">
        <div class="bienvenidaTexto">
            <h1>¡Bienvenido al sistema de elecciones presidenciales <br> de la Republica de El Salvador! </h1>
        </div>
    </div>
</section>
<div th:include="Reutilizable/footer.html :: footer"></div>
</body>
</html>