<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Votante</title>
    <link rel="stylesheet" href="/verificacionCSS/detalleVotante.css">
    <link rel="stylesheet" href="/reutilizableCSS/header.css">
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>

<body>
<div th:include="Reutilizable/header.html" :: header></div>

<section class="generalWrapper">
    <section class="infoWrapper">
        <div class="bienvenidaTexto">
            <h1>¡Bienvenido al sistema de elecciones presidenciales <br> de la Republica de El Salvador! </h1>
        </div>
        <div class="votanteInfo">
            <div class="votanteEstado">
                <h2>El DUI (llamar DUI ingresado) (no/ya) ha votado y (es apto/no es apto) para hacerlo (✅/❌)</h2>
            </div>
            <div class="duiInfo">
                <div class="leftColumn">
                    <p>Apellidos:</p>
                    <p>Nombres:</p>
                    <p>Sexo:</p>
                    <p>Departamento:</p>
                    <p>Municipio:</p>
                    <p>Distrito:</p>
                    <p>Centro de votación:</p>
                </div>
                <div class="rightColumn">
                    <p>(Llamar apellidos DUI)</p>
                    <p>(Llamar nombres DUI):</p>
                    <p>(Llamar sexo DUI)</p>
                    <p>(Llamar Departamento DUI)</p>
                    <p>(Llamar Municipio DUI)</p>
                    <p>(Llamar Distrito DUI)</p>
                    <p>(Llamar centro de votación DUI)</p>
                </div>
            </div>
            <a th:href="@{/urna}">
                <button>REGRESAR</button>
            </a>
        </div>
    </section>
</section>

</section>
<div th:include="Reutilizable/footer.html :: footer"></div>
</body>
</html>