<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verificar DUI</title>
    <link rel="stylesheet" href="/verificacionCSS/duiVerificacion.css">
    <link rel="stylesheet" href="/reutilizableCSS/header.css">
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>
<body>
<div th:include="Reutilizable/header.html :: header"></div>
<div class="all">
    <section class="generalWrapper">
        <div class="bienvenidaTexto">
            <h1>¡Bienvenido al sistema de elecciones presidenciales <br> de la Republica de El Salvador! </h1>
        </div>
        <form th:action="@{/verificarDUI}" method="post">
            <div class="duiIngreso">
                <h2>Ingrese el DUI del votante para verificar su información y estatus del votante</h2>
                <input id="inputDui" type="text" name="dui" placeholder="Ejemplo: 12345678-9">
            </div>
            <div class="btnVerificar">
                </a>
                <a th:href="@{/}">
                    <button type="button">MENÚ</button>
                </a>
                <button id="verficarButton" type="submit">Verificar</button>
            </div>
    </section>
</div>
<div th:include="Reutilizable/footer.html :: footer"></div>
</body>
</html>