<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/indexEstilo.css">
    <link rel="stylesheet" href="/reutilizableCSS/header.css">
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>
<body>
    <div th:include="Reutilizable/header.html :: header"></div>
    <div class="bodyWrap">
    <section class="generalWrapperMenu">
        <div class="textMenu">
            <h1>Menú de roles/sub-sistema de IVOTI</h1>
            <p>Como nuestro sistema está pensado en 3 diferentes roles, hemos decidido hacer un menú en donde se encuentren y explicar cual es la finalidad de cada uno.</p>
        </div>
        <div class="opcionesMenu">
            <a th:href="@{/urna}">
                <div class="opciones">
                    <img src="/img/urna.jpg" alt="imagen de cuidador de urna">
                    <h2>Sistema de cuidador de urna</h2>
                </div>
            </a>
            <a th:href="@{/votaciones}">
                <div class="opciones">
                    <img src="/img/voto.jpg" alt="Urna electoral">
                    <h2>Sistema de votos en urna</h2>
                </div>
            </a>
            <a th:href="@{/estadisticas}">
                <div class="opciones">
                    <img src="/img/stats02.webp" alt="estadisticas" >
                    <h2>Sistema de estadisticas electorales</h2>
                </div>
            </a>
        </div>
    </section>
    </div>
    <div class="footerMenu">
        <div th:include="Reutilizable/footer.html :: footer"></div>
    </div>

</body>
</html>