<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="/reutilizableCSS/footer.css">
</head>
<body>
<header th:fragment="footer">
    <section class="footerWrapper">
        <div class="logoIvotiWrapper">
            <img src="/img/ivotiLogo.png">
        </div>
        <div class="decoracionFooterWrapper">
            <img src="/img/decorationFooter.png">
        </div>
    </section>
</header>

</body>
</html>